In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv' , encoding='latin-1')

In [3]:
df

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [4]:
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [5]:
df.tail()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [6]:
# 1) Which of these python data structures is unorderly?
## answer set

In [7]:
# 2) 
#Select columns â€˜Y2017â€™ and â€˜Areaâ€™, Perform a groupby operation on â€˜Areaâ€™. 
#Which of these Areas had the highest sum in 2017?

df.groupby(['Y2017'])['Area'].sum()
# answer: Nigeria

Y2017
-1582.0                       EgyptEgypt
-1200.0                       Mozambique
-1159.0                       Mozambique
-865.0       United Republic of Tanzania
-860.0       United Republic of Tanzania
                        ...
 96443.0                           Egypt
 106400.0                       Ethiopia
 112625.0                        Nigeria
 117702.0                        Nigeria
 190873.0                        Nigeria
Name: Area, Length: 4537, dtype: object

In [8]:
# 3) What is the total number and percentage of missing data in 2014 to 3 decimal places?
gh=df['Y2014'].isna().sum()
gh
# answer E

1589

In [9]:
# 4) Which year had the least correlation with â€˜Element Codeâ€™?
df.corr().sum()
#answer 2017

Area Code       1.022186
Item Code       1.075654
Element Code    1.095431
Y2014           5.033173
Y2015           5.016861
Y2016           5.026162
Y2017           5.024920
Y2018           5.025198
dtype: float64

In [10]:
# 5) Which of the following dataframe methods can be used to access elements across rows and columns?
# answer  df.iloc[ : ]

In [11]:
# 6) What is the mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places?
df.describe()
# answer D 140.92 and 1671.86

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [12]:
# 7) A pandas Dataframe with dimensions (100,3) has how many features and observations?
 # ans: A 100 rows and 3 observations.

In [13]:
# 8) Perform a groupby operation on â€˜Elementâ€™.  What year has the highest sum of Stock Variation?
df.groupby(['Element']).describe()

                                       Area Code                              \
                                           count        mean        std  min
Element
Domestic supply quantity                  5295.0  133.898584  72.429582  4.0
Export Quantity                           4403.0  136.250284  72.474261  4.0
Fat supply quantity (g/capita/day)        5023.0  134.391798  72.408886  4.0
Feed                                      1319.0  133.640637  71.452934  4.0
Food                                      4941.0  134.243068  72.466059  4.0
Food supply (kcal/capita/day)             5014.0  134.434982  72.358700  4.0
Food supply quantity (kg/capita/yr)       4905.0  134.239755  72.455564  4.0
Import Quantity                           5139.0  133.912045  72.365119  4.0
Losses                                    2009.0  136.561971  72.785591  4.0
Other uses (non-food)                     1732.0  136.001155  73.106619  4.0
Processing                                2010.0  135.293532  74.949822  4.0
Production                                3881.0  135.725586  72.972281  4.0
Protein supply quantity (g/capita/day)    5023.0  134.391798  72.408886  4.0
Residuals                                 4655.0  133.892803  72.429026  4.0
Seed                                       762.0  135.875328  73.266647  4.0
Stock Variation                           4232.0  135.058129  72.874997  4.0
Total Population - Both sexes               45.0  133.777778  73.112581  4.0
Tourist consumption                        555.0   90.645045  59.925421  7.0

                                                                  Item Code  \
                                         25%    50%    75%    max     count
Element
Domestic supply quantity                74.0  136.0  195.0  276.0    5295.0
Export Quantity                         75.0  137.0  197.0  276.0    4403.0
Fat supply quantity (g/capita/day)      74.0  136.0  195.0  276.0    5023.0
Feed                                    74.0  133.0  197.0  276.0    1319.0
Food                                    74.0  136.0  195.0  276.0    4941.0
Food supply (kcal/capita/day)           74.0  136.0  195.0  276.0    5014.0
Food supply quantity (kg/capita/yr)     74.0  136.0  195.0  276.0    4905.0
Import Quantity                         74.0  136.0  195.0  276.0    5139.0
Losses                                  74.0  137.0  197.0  276.0    2009.0
Other uses (non-food)                   74.0  137.0  202.0  276.0    1732.0
Processing                              59.0  143.0  195.0  276.0    2010.0
Production                              74.0  137.0  197.0  276.0    3881.0
Protein supply quantity (g/capita/day)  74.0  136.0  195.0  276.0    5023.0
Residuals                               74.0  136.0  195.0  276.0    4655.0
Seed                                    74.0  137.0  202.0  276.0     762.0
Stock Variation                         74.0  137.0  197.0  276.0    4232.0
Total Population - Both sexes           74.0  136.0  195.0  276.0      45.0
Tourist consumption                     35.0   59.0  137.0  193.0     555.0

                                                     ...       Y2017  \
                                               mean  ...         75%
Element                                              ...
Domestic supply quantity                2681.292729  ...     81.0000
Export Quantity                         2689.201226  ...      3.1350
Fat supply quantity (g/capita/day)      2694.604818  ...      0.5075
Feed                                    2682.719484  ...     26.0000
Food                                    2688.734062  ...     63.0000
Food supply (kcal/capita/day)           2694.666933  ...     26.0000
Food supply quantity (kg/capita/yr)     2688.155148  ...      5.7625
Import Quantity                         2684.562366  ...      8.0000
Losses                                  2700.250373  ...     31.0000
Other uses (non-food)                   2730.801963  ...      2.0000
Processing                              2661.898507  ...      5.0000
Production                              2692.618655  ...    152.0000
Protein supply quantity (g/capita/day)  2694.604818  ...      0.6400
Residuals                               2668.332760  ...      0.0000
Seed                                    2671.828084  ...     23.0000
Stock Variation                         2677.109405  ...      1.0000
Total Population - Both sexes           2501.000000  ...  29121.0000
Tourist consumption                     2678.428829  ...      0.0000

                                                    Y2018                \
                                              max   count          mean
Element
Domestic supply quantity                112625.00  5256.0    411.185712
Export Quantity                          34641.00  3646.0     49.806583
Fat supply quantity (g/capita/day)          97.13  4987.0      2.057086
Feed                                     29580.00  1225.0    190.603820
Food                                     51220.00  4913.0    265.385972
Food supply (kcal/capita/day)             3457.00  4969.0     91.620246
Food supply quantity (kg/capita/yr)        433.38  4877.0     10.058817
Import Quantity                          18627.00  4945.0     58.240059
Losses                                   10342.00  2008.0     81.624502
Other uses (non-food)                    17219.00  1655.0     55.166749
Processing                               22174.00  2003.0    153.983525
Production                              117702.00  3846.0    539.540533
Protein supply quantity (g/capita/day)     100.10  4986.0      2.373357
Residuals                                17476.00  4616.0      7.552860
Seed                                      1453.00   758.0     33.328681
Stock Variation                           5089.00  4217.0      4.879751
Total Population - Both sexes           190873.00    45.0  25346.777778
Tourist consumption                          6.00   555.0      0.162162

                                                                         \
                                                 std     min        25%
Element
Domestic supply quantity                 2544.664930  -184.0     0.0000
Export Quantity                           842.633449     0.0     0.0000
Fat supply quantity (g/capita/day)          7.799864     0.0     0.0000
Feed                                     1382.718629     0.0     0.0000
Food                                     1407.952979     0.0     0.0000
Food supply (kcal/capita/day)             357.469150     0.0     0.0000
Food supply quantity (kg/capita/yr)        29.555214     0.0     0.0100
Import Quantity                           467.670555     0.0     0.0000
Losses                                    402.263215     0.0     0.0000
Other uses (non-food)                     497.694277     0.0     0.0000
Processing                               1022.278276     0.0     0.0000
Production                               3019.990719     0.0     0.1625
Protein supply quantity (g/capita/day)      8.933189     0.0     0.0000
Residuals                                 363.873325  -598.0     0.0000
Seed                                      105.787366     0.0     1.0000
Stock Variation                           132.428693 -3396.0     0.0000
Total Population - Both sexes           35337.267187   211.0  4403.0000
Tourist consumption                         0.617736     0.0     0.0000


                                             50%         75%        max
Element
Domestic supply quantity                    7.00     82.0000  117038.00
Export Quantity                             0.00      3.0000   34641.00
Fat supply quantity (g/capita/day)          0.03      0.4900      94.94
Feed                                        0.20     24.0000   31567.00
Food                                        5.38     63.8800   54077.00
Food supply (kcal/capita/day)               3.00     26.0000    3450.00
Food supply quantity (kg/capita/yr)         0.60      5.6900     443.56
Import Quantity                             0.48      8.0000   18036.00
Losses                                      4.00     31.0000   10355.00
Other uses (non-food)                       0.00      2.0000   17221.00
Processing                                  0.00      5.0000   22609.00
Production                                 16.00    153.7500  118172.00
Protein supply quantity (g/capita/day)      0.03      0.6475     101.08
Residuals                                   0.00      0.0000   17323.00
Seed                                        4.00     22.7500    1474.00
Stock Variation                             0.00      0.0000    2226.00
Total Population - Both sexes           15478.00  29767.0000  195875.00
Tourist consumption                         0.00      0.0000       6.00

[18 rows x 64 columns]

In [14]:
# 9) 
#If you have the following list

# lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

# col = [â€˜Ageâ€™,â€™Nationalityâ€™,â€™Overallâ€™]

# How do you create a pandas DataFrame using this list, to look like the table below?

#answer C pd.Dataframe(lst, columns = col, index = [1,2,3])

In [15]:
# 10) How would you check for the number of rows and columns in a pandas DataFrame named df?
# ANS: c df.shape

In [16]:
# 11) Given the following python code, what would the output of the code give?

# my_tuppy = (1,2,5,8)

# my_tuppy[2] = 6

# Ans: D type error

In [17]:
# 12) Select columns â€˜Y2017â€™ and â€˜Areaâ€™, Perform a groupby operation on â€˜Areaâ€™.  Which of these Areas had the 7th lowest sum in 2017?
df.groupby(['Y2017','Area'])['Area'].sum()

Y2017      Area
-1582.0    Egypt                                           EgyptEgypt
-1200.0    Mozambique                                      Mozambique
-1159.0    Mozambique                                      Mozambique
-865.0     United Republic of Tanzania    United Republic of Tanzania
-860.0     United Republic of Tanzania    United Republic of Tanzania
                                                     ...
 96443.0   Egypt                                                Egypt
 106400.0  Ethiopia                                          Ethiopia
 112625.0  Nigeria                                            Nigeria
 117702.0  Nigeria                                            Nigeria
 190873.0  Nigeria                                            Nigeria
Name: Area, Length: 14773, dtype: object

In [18]:
# 13) 
# What is the total number of unique countries in the dataset?
for column in df.columns:
    print(column,":::::: ",df[column].unique())
    
# ans: A 49

Area Code ::::::  [  4   7  53  20 233  35  32  37  39  45  46 107  72  59 209 238  62  74
  75  81  90 175 114 122 123 129 130 133 136 137 143 144 147 158 159 184
 193 195 196 197 202 276 206 217 222 226 215 251 181]
Area ::::::  ['Algeria' 'Angola' 'Benin' 'Botswana' 'Burkina Faso' 'Cabo Verde'
 'Cameroon' 'Central African Republic' 'Chad' 'Comoros' 'Congo'
 "CÃ´te d'Ivoire" 'Djibouti' 'Egypt' 'Eswatini' 'Ethiopia' 'Ethiopia PDR'
 'Gabon' 'Gambia' 'Ghana' 'Guinea' 'Guinea-Bissau' 'Kenya' 'Lesotho'
 'Liberia' 'Madagascar' 'Malawi' 'Mali' 'Mauritania' 'Mauritius' 'Morocco'
 'Mozambique' 'Namibia' 'Niger' 'Nigeria' 'Rwanda' 'Sao Tome and Principe'
 'Senegal' 'Seychelles' 'Sierra Leone' 'South Africa' 'Sudan'
 'Sudan (former)' 'Togo' 'Tunisia' 'Uganda' 'United Republic of Tanzania'
 'Zambia' 'Zimbabwe']
Item Code ::::::  [2501 2901 2903 2941 2905 2511 2805 2513 2514 2515 2516 2517 2518 2520
 2907 2532 2531 2533 2535 2534 2908 2536 2537 2909 2542 2543 2745 2911
 2546 2547 2549 2912 2551 2913 2555 2556 2557 2558 2559 2560 2561 2563
 2570 2914 2571 2572 2573 2574 2575 2576 2577 2578 2579 2580 2582 2586
 2918 2601 2602 2605 2919 2611 2612 2613 2614 2615 2616 2617 2618 2619
 2620 2625 2922 2630 2633 2635 2923 2640 2641 2642 2645 2924 2655 2656
 2657 2658 2659 2943 2731 2732 2733 2734 2735 2945 2736 2946 2740 2743
 2737 2781 2782 2949 2744 2948 2848 2960 2761 2762 2763 2764 2765 2766
 2767 2961 2769 2775 2928 2680 2899 2541 2562 2581]
Item ::::::  ['Population' 'Grand Total' 'Vegetal Products' 'Animal Products'
 'Cereals - Excluding Beer' 'Wheat and products' 'Rice and products'
 'Barley and products' 'Maize and products' 'Rye and products' 'Oats'
 'Millet and products' 'Sorghum and products' 'Cereals, Other'
 'Starchy Roots' 'Cassava and products' 'Potatoes and products'
 'Sweet potatoes' 'Yams' 'Roots, Other' 'Sugar Crops' 'Sugar cane'
 'Sugar beet' 'Sugar & Sweeteners' 'Sugar (Raw Equivalent)'
 'Sweeteners, Other' 'Honey' 'Pulses' 'Beans' 'Peas'
 'Pulses, Other and products' 'Treenuts' 'Nuts and products' 'Oilcrops'
 'Soyabeans' 'Groundnuts (Shelled Eq)' 'Sunflower seed'
 'Rape and Mustardseed' 'Cottonseed' 'Coconuts - Incl Copra' 'Sesame seed'
 'Olives (including preserved)' 'Oilcrops, Other' 'Vegetable Oils'
 'Soyabean Oil' 'Groundnut Oil' 'Sunflowerseed Oil' 'Rape and Mustard Oil'
 'Cottonseed Oil' 'Palmkernel Oil' 'Palm Oil' 'Coconut Oil'
 'Sesameseed Oil' 'Olive Oil' 'Maize Germ Oil' 'Oilcrops Oil, Other'
 'Vegetables' 'Tomatoes and products' 'Onions' 'Vegetables, Other'
 'Fruits - Excluding Wine' 'Oranges, Mandarines'
 'Lemons, Limes and products' 'Grapefruit and products' 'Citrus, Other'
 'Bananas' 'Plantains' 'Apples and products' 'Pineapples and products'
 'Dates' 'Grapes and products (excl wine)' 'Fruits, Other' 'Stimulants'
 'Coffee and products' 'Cocoa Beans and products' 'Tea (including mate)'
 'Spices' 'Pepper' 'Pimento' 'Cloves' 'Spices, Other'
 'Alcoholic Beverages' 'Wine' 'Beer' 'Beverages, Fermented'
 'Beverages, Alcoholic' 'Alcohol, Non-Food' 'Meat' 'Bovine Meat'
 'Mutton & Goat Meat' 'Pigmeat' 'Poultry Meat' 'Meat, Other' 'Offals'
 'Offals, Edible' 'Animal fats' 'Butter, Ghee' 'Cream'
 'Fats, Animals, Raw' 'Fish, Body Oil' 'Fish, Liver Oil' 'Eggs'
 'Milk - Excluding Butter' 'Fish, Seafood' 'Freshwater Fish'
 'Demersal Fish' 'Pelagic Fish' 'Marine Fish, Other' 'Crustaceans'
 'Cephalopods' 'Molluscs, Other' 'Aquatic Products, Other'
 'Aquatic Animals, Others' 'Aquatic Plants' 'Miscellaneous' 'Infant food'
 'Sugar non-centrifugal' 'Palm kernels' 'Ricebran Oil']
Element Code ::::::  [ 511 5301  664  674  684 5511 5611 5072 5911 5521 5527 5123 5131 5154
 5170 5142  645 5171]
Element ::::::  ['Total Population - Both sexes' 'Domestic supply quantity'
 'Food supply (kcal/capita/day)' 'Protein supply quantity (g/capita/day)'
 'Fat supply quantity (g/capita/day)' 'Production' 'Import Quantity'
 'Stock Variation' 'Export Quantity' 'Feed' 'Seed' 'Losses' 'Processing'
 'Other uses (non-food)' 'Residuals' 'Food'
 'Food supply quantity (kg/capita/yr)' 'Tourist consumption']
Unit ::::::  ['1000 persons' '1000 tonnes' 'kcal/capita/day' 'g/capita/day' 'kg']
Y2014 ::::::  [3.8924e+04 0.0000e+00 3.3770e+03 ... 3.5200e+01 5.3310e+01 2.8900e+01]
Y2015 ::::::  [3.9728e+04 0.0000e+00 3.3790e+03 ... 5.2830e+01 2.6350e+01 1.9310e+01]
Y2016 ::::::  [4.0551e+04 0.0000e+00 3.3720e+03 ... 5.3160e+01 3.2150e+01 1.9450e+01]
Y2017 ::::::  [4.1389e+04 0.0000e+00 3.3410e+03 ... 2.0790e+01 1.9410e+01 1.8760e+01]
Y2018 ::::::  [4.2228e+04 0.0000e+00 3.3220e+03 ... 2.9530e+01 2.0790e+01 1.8760e+01]

In [19]:
# 14) 
# Perform a groupby operation on â€˜Elementâ€™.  What is the total number of the sum of Processing in 2017?
df.groupby(['Element'])['Y2017'].sum()
# ans: E 292836.00

Element
Domestic supply quantity                  2088198.10
Export Quantity                            182338.80
Fat supply quantity (g/capita/day)          10253.84
Feed                                       223705.68
Food                                      1258888.28
Food supply (kcal/capita/day)              454681.00
Food supply quantity (kg/capita/yr)         48690.04
Import Quantity                            294559.09
Losses                                     160614.00
Other uses (non-food)                       91645.97
Processing                                 292836.00
Production                                2030056.89
Protein supply quantity (g/capita/day)      11842.45
Residuals                                   35500.00
Seed                                        24870.14
Stock Variation                             54316.91
Total Population - Both sexes             1112641.00
Tourist consumption                            91.00
Name: Y2017, dtype: float64

In [20]:
# 15) 
# Which of the following is a python inbuilt module?
# ANS: B math

In [21]:
# 16) What would be the output for?

S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

'e'

In [22]:
# 17) Answer the following questions based on the African food production dataset provided by the FAO website already provided

# What is the total sum of Wine produced in 2015 and 2018 respectively?

# Hint:

# Perform a groupby sum aggregation on â€˜Itemâ€™
df.groupby(['Item'])['Y2015', 'Y2018'].sum()
# ans 4251.81 and 4039.32

C:\Users\JOHNKENNEDY\AppData\Local\Temp\ipykernel_17060\2612083911.py:8: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby(['Item'])['Y2015', 'Y2018'].sum()

                         Y2015      Y2018
Item
Alcohol, Non-Food      2180.00    2293.00
Alcoholic Beverages   98783.72   97847.27
Animal Products       11811.73   11578.61
Animal fats          200675.72  269648.27
Apples and products   10559.15    9640.51
...                        ...        ...
Vegetables, Other    158104.08  163987.21
Vegetal Products     107064.17  107775.39
Wheat and products   234710.51  242645.19
Wine                   4251.81    4039.32
Yams                 203151.78  221272.09

[119 rows x 2 columns]

In [23]:
# 18) What is the total Protein supply quantity in Madagascar in 2015?
df.groupby(['Element'])['Y2015', 'Area'].sum()
# df.groupby([])['Y2017'].sum()

C:\Users\JOHNKENNEDY\AppData\Local\Temp\ipykernel_17060\1260714693.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby(['Element'])['Y2015', 'Area'].sum()

                                             Y2015
Element
Domestic supply quantity                2021493.55
Export Quantity                          157614.47
Fat supply quantity (g/capita/day)        10235.74
Feed                                     225050.22
Food                                    1232361.10
Food supply (kcal/capita/day)            453383.00
Food supply quantity (kg/capita/yr)       49345.13
Import Quantity                          267018.46
Losses                                   155439.00
Other uses (non-food)                     66254.41
Processing                               287929.00
Production                              1947019.39
Protein supply quantity (g/capita/day)    11833.95
Residuals                                 30045.00
Seed                                      23976.82
Stock Variation                           34910.99
Total Population - Both sexes           1058081.00
Tourist consumption                         349.00

In [24]:
# 19) 
# Given the following numpy array 

array  = ([[94, 89, 63],

             [93, 92, 48],

             [92, 94, 56]])

# How would you select  the elements in bold and italics from the array?
#array[ : 2, 1 : ]

In [25]:
# 20) Consider the following list of tuples:

y = [(2, 4), (7, 8), (1, 5, 9)]

# How would you assign element 8 from the list to a variable x?
# ans: x = y[1][-1]